@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('/fonts/ONE Mobile POP.ttf') format('truetype'), url('/fonts/ONE Mobile POP OTF.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}