@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 73 66% 80%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --greenicon: 96 55% 42%;

    --personality-cool-bg: 190 86% 67%;
    --personality-cool-bg-grayscale-90: 192 12% 75%;
    --personality-cool-bg-marked: 190 86% 85%;
    --personality-gloomy-bg: 257 68% 71%;
    --personality-gloomy-bg-grayscale-90: 258 8% 76%;
    --personality-gloomy-bg-marked: 256 68% 85%;
    --personality-jolly-bg: 53 79% 63%;
    --personality-jolly-bg-grayscale-90: 52 12% 75%;
    --personality-jolly-bg-marked: 54 83% 77%;
    --personality-mad-bg: 1 73% 71%;
    --personality-mad-bg-grayscale-90: 0 9% 76%;
    --personality-mad-bg-marked: 0 73% 85%;
    --personality-naive-bg: 110 55% 65%;
    --personality-naive-bg-grayscale-90: 108 8% 75%;
    --personality-naive-bg-marked: 110 55% 83%;

    --taskcard: 76 52% 96%;
    --taskcard-foreground: 17 32% 28%;
    --taskcard-border: 44 31% 84%;
    --foodcard: 42 57% 95%;
    --foodcard-border: 32 43% 79%;
    --foodcard-frame: 287 28% 29%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 121 72% 28%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --greenicon: 96 55% 42%;

    --personality-cool-bg: 190 84% 52%;
    --personality-cool-bg-grayscale-90: 189 16% 74%;
    --personality-cool-bg-marked: 190 78% 39%;
    --personality-gloomy-bg: 257 69% 58%;
    --personality-gloomy-bg-grayscale-90: 256 12% 75%;
    --personality-gloomy-bg-marked: 257 50% 43%;
    --personality-jolly-bg: 52 93% 46%;
    --personality-jolly-bg-grayscale-90: 52 16% 73%;
    --personality-jolly-bg-marked: 53 47% 47%;
    --personality-mad-bg: 0 71% 58%;
    --personality-mad-bg-grayscale-90: 0 12% 75%;
    --personality-mad-bg-marked: 0 51% 44%;
    --personality-naive-bg: 111 54% 50%;
    --personality-naive-bg-grayscale-90: 111 10% 74%;
    --personality-naive-bg-marked: 110 54% 37%;

    /* --taskcard: 49 47% 14%; */
    /* --taskcard-foreground: 38 39% 77%; */
    /* --taskcard-border: 27 26% 34%; */
    --foodcard: 21 46% 15%;
    --foodcard-border: 15 35% 34%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  html[lang^="zh"] .font-onemobile {
    font-family: 'KNBobohei', 'ONE-Mobile-POP';
  }
  html[lang^="zh"] .break-keep {
    word-break: break-all;
  }
}